doctype html
html(lang='en')
    header
      meta(charset="utf-8")
      title Compra Facil
      meta(content="width=device-width, initial-scale=1.0", name="viewport")
      meta(content="Free HTML Templates", name="keywords")
      meta(content="Free HTML Templates", name="description")
      link(href="../public/css/style.css", rel="stylesheet")
      link(rel="preconnect", href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css", rel="stylesheet")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      link(href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&display=swap", rel="stylesheet")
    body
      h1.text-primary.mb-4 Inicia Sesión o Registrate!

      form(action='/newjourney', method='POST')
        label Nombre del Journey:
        br
        input(type="text", placeholder="Ingrese el nombre", required=true, name='journeyName', value='')
        br
        label Peso Corporal:
        br
        input(type="text", placeholder="Ingrese su BW", required=true, name='bodyWeight', value='')
        br
        label Porcentaje de grasa corporal:
        br
        input(type="number", placeholder="Ingrese su BF %", required=true, name='bodyFat', value='')
        br
        label Fecha de Inicio:
        br
        input(type="date", placeholder="Ingrese fecha de inicio", required=true, name='startDate', value='')
        input(type="submit", value="Submit")


    footer
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js")     